{#extends file='Main.Master.html'}
{#block name=head}
<script language="javascript">
	function formCheck(){
		var result = true;
		if($('.form input[name=acemail]').val() == ''){
			$(".msg").html("Please fill in Email");
			result = false;
		}else{
			$.ajax({url:"?c=log&a=checkaccount&ajax=1",
				   async: false,
				   data:{acemail:$("input[name=acemail]").val()},
				   success:function(data){
				if(data != 1){
					$(".msg").html("User does not exist.");
					result = false;
				}else
					result = true;
				}
			})	
		}
		return result;
	}
	
	function back_index(){
		window.location.href = "?c=log&a=login";
	}
</script>
{#/block}
{#block name=content}

	<div id="container">
	
		{#include file="Header.html"}
	
		<div id="divBody">
			
			<div class="content">
			
				<div class="breadcrumb">
					<h2 class="title">Forgot Password</h2>					
				</div>
				
				<div class="content_p">
				
					<form action="?c=log&a=doforgotpassword" onsubmit="return formCheck();" method="post">
						
						<table class="form">						
							<tr>							
								<td colspan="2">Please enter correct email address for your account to get a new password.</td>
							</tr>
							
							<tr>
								<th>Email*</th>
								<td><input type="text" name="acemail" value=""></td>
							</tr>
							<tr>
								<th>&nbsp;</th>						
								<td>
                                	<input type="submit" value="Send" class="input_btn"/>
                                    <input type="button" value="Back to login" class="input_btn" onclick="back_index()"/>
								</td>
							</tr>	
							
						</table>	
						
						<p class="msg"></p>
						
					</form>
				
				</div>				
			</div>
		</div>			
		<div class="clear"></div>		
		{#include file="Footer.html"}
	
	</div>
{#/block}