<p class="btn"><a class="iframe button" href="?c=gallery&a=editGallery&tid={#$tid}">Add New</a></p>
<table class="list">
	<tr>
		<th width="12%">Order</th>
		<th>ID</th>
		<th>Album Title</th>
		<th>Total Photos</th>
		<th>Downloadable</th>
		<th>Total "View"</th>
		<th>Total "Like"</th>
		<th>Total "Comment"</th>
		<th>Stauts</th>
		<th>Action</th>
	</tr>
	{#if $gallery_list neq ""}
	{#foreach from=$gallery_list item=item key=key}
	<tr>							
		<td align="center">
			<span class="number">{#$offset + $key + 1}</span>
			<input type="hidden" value="{#$item.gid}" name="id" />
			<input type="hidden" value="{#$item.tid}" name="tid" />
			<input type="text" name="order" class="order" />&nbsp;&nbsp;
			<a href="javascript:;" onclick="" class="button go">GO</a>
		</td>
		<td>{#$item.gid}</td>
		<td>{#$item.gname|mb_truncate:13:"..."}</td>
		<td>{#$item.gcount}</td>
		<td>
			{#if $item.gis_download eq 0}No
			{#elseif $item.gis_download eq 1}Yes
			{#/if}
		</td>
		<td>{#$item.players_num}</td>
		<td>{#$item.likes_num}</td>
		<td>{#$item.comments_num}</td>
		<td>
			{#if $item.gstatus eq 0}Inactive
			{#elseif $item.gstatus eq 1}Active
			{#/if}
		</td>
		<td><a href="?c=gallery&a=editGallery&gid={#$item.gid}" class="iframe button">Edit</a>&nbsp;&nbsp;&nbsp;<a href="?c=gallery&a=deleteGallery&gid={#$item.gid}" onclick="return confirm('Are you sure delete this record.')" class="button">Delete</a></td>					
	</tr>
	{#foreachelse}
	<tr>							
		<td colspan="7">There is no records currently.</td>
	</tr>	
	{#/foreach}	
	{#/if}

</table>
<div class="page">
	<div class="pageshow">{#$show_page}</div>
</div>