<p class="btn"><a class="iframe button" href="?c=article&a=editArticle&tid={#$tid}">Add New</a></p>
<table class="list">
	<tr>
		<!--th width="12%">Order</th-->
		<th>ID</th>
		<th>Title</th>
		<th>Time Created</th>
		<th>Total"Comment"</th>
		<th>Status</th>
		<th>Action</th>
	</tr>
	{#if $article_list neq ""}
	{#foreach from=$article_list item=item key=key}
	<tr>							
		<!-- <td align="center">
			<span class="number">{#$offset + $key + 1}</span>
			<input type="hidden" value="{#$item.artid}" name="id" />
			<input type="hidden" value="{#$item.tid}" name="tid" />
			<input type="text" name="order" class="order" />&nbsp;&nbsp;
			<a href="javascript:;" onclick="" class="button go">GO</a> 
		</td>-->
		<td>{#$item.artid}</td>
		<td>{#$item.artname|mb_truncate:13:"...":"uft8"}</td>
		<td>{#$item.artpublish_time}</td>
		<td>{#$item.comments_num}</td>
		<td>
			{#if $item.artstatus eq 0}Inactive
			{#elseif $item.artstatus eq 1}Active
			{#/if}
		</td>
		<td><a href="?c=article&a=editArticle&artid={#$item.artid}" class="iframe button">Edit</a>&nbsp;&nbsp;&nbsp;<a href="?c=article&a=deleteArticle&artid={#$item.artid}" onclick="return confirm('Are you sure delete this record.')" class="button">Delete</a></td>					
	</tr>
	{#foreachelse}
	<tr>							
		<td colspan="6">There is no records currently.</td>
	</tr>	
	{#/foreach}	
	{#/if}

</table>
<div class="page">
	<div class="pageshow">{#$show_page}</div>
</div>